* {
  margin: 0;
  padding: 0;
  text-decoration: none;
    font-family: arial;
}

button {
  cursor: pointer;
}

body {
  background-color: #F3F3F3;
}

.wrapper-main {
  width: 900px;
  margin: 0 auto;
}

header {
  width: calc(100% - 30px);
  height: 60px;
  padding: 0 15px;
  background-color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-header-main {
  height: 80%;
  display: flex;
  flex-direction: row;
}

.header-logo {
  width: 48px;
  padding-right: 20px;
}

.nav-header-main img {
  height: 100%;
}

.nav-header-main ul {
  height: 100%;
}

.nav-header-main ul li {
  list-style: none;
  float: left;
  height: 100%;
}

.nav-header-main ul li a {
  display: block;
  height: 100%;
  padding: 0 10px;
  border-radius: 6px;
  line-height: 48px;
  font-family: arial;
  font-size: 16px;
  color: #111;
  text-transform: uppercase;
}

.header-login {
  height: 60%;
  display: flex;
  flex-direction: row;
}

.header-login form {
  height: 100%;
}

.header-login form input {
  height: 100%;
  width: 160px;
  padding: 0 15px;
  border: none;
  border-radius: 4px;
  background-color: #F6F6F6;
  float: left;
  margin-left: 8px;
  font-family: arial;
}

.header-login form button {
  height: 100%;
  padding: 0 10px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  margin-left: 8px;
  font-family: arial;
  font-size: 13px;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
}

.header-signup {
  height: 100%;
  width: 70px;
  padding: 0 6px;
  border: none;
  border-radius: 4px;
  margin-left: 8px;
  font-family: arial;
  font-size: 13px;
  line-height: 36px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
}

main {
  padding-top: 20px;
}

.section-default {
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  background-color: #FFF;
}

.login-status {
  text-align: center;
  font-size: 26px;
  font-family: arial;
  color: #111;
}

h1 {
  text-align: center;
  font-size: 26px;
  font-family: arial;
  color: #111;
}

/* signup.php */

.form-signup {
  margin: 0 auto;
  padding-top: 20px;
  width: 200px;
}

.form-signup input {
  width: calc(100% - 30px);
  height: 30px;
  padding: 0 15px;
  margin-bottom: 6px;
  border: 1px solid #CCC;
  border-radius: 4px;
  background-color: #F6F6F6;
  float: left;
  font-family: arial;
}

.form-signup button {
  display: block;
  height: 40px;
  padding: 0 10px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  background-color: #333;
  font-family: arial;
  font-size: 13px;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
}
.signuperror {
  padding-top: 14px;
  font-family: arial;
  font-size: 16px;
  color: red;
  text-align: center;
}

.signupsuccess {
  padding-top: 14px;
  font-family: arial;
  font-size: 16px;
  color: green;
  text-align: center;
}
body{
    padding-bottom: 35px;
}
#uploader {
font-family:arial;
    background-color:#cccccc;
    color:black;
    border-radius: 5px;
    width:75%;
    margin:auto;
    height:100%;
    padding:5px;
    padding-bottom:15px;
    
}

#submit{
    background-color: black;
    font-weight: bolder;
    border-radius: 50px;
    border:0px;
    padding:15px;
    width:100%;
    transition-duration: 500ms;
    color:white;
}

#submit:hover{
    background-color:#AAAAAA;
    cursor:pointer;
    transition-duration: 500ms;
    color:black;
}

#uploader input[type="text"]{
    width:95%;
    padding:15px;
    padding-right:0px;
    font-size: 16px;
    background-color:#cccccc;
    border: none;
    border-bottom:1px solid #666666;
    color:black;
    display:block;
    transition-duration: 250ms;
}

#uploader input[type="file"]{
    background-color:#aaaaaa;
    color:black;
    border-radius: 15px;
    padding:10px;
    padding-right:0px;
    height: 50px;
}

#uploader input[type="text"]:focus{
    background-color:#bbbbbb;
    transition-duration: 250ms;
}

#invalid{
    color:red;
    background-color: #ecbebe;
    border-radius: 5px;
    border: 2px solid red;
}

#music-player {
    background-color:#CCCCCC;
    position: fixed;
    bottom:0;
    width: 100%;
    padding:5px;
}
#music-player button{
    border-radius: 25%;
    padding:5px;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} 